@import '../../styles/mixins/text';

.ButtonContainer {
  width: fit-content;
  border-radius: 4px;
  padding: 8px;
  gap: 4px;
  cursor: pointer;
  background-color: var(--color-indigo);
  color: var(--color-white);
  span {
    @include textStyleButton;
  }
}
