@import '../../../styles/mixins/text';

.postItemContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray2);
  border-radius: 8px;
  padding: 16px;
  gap: 12px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px 0.5px var(--color-shadow);
  }

  .title {
    @include textStylePostTitle;
  }

  .content {
    @include textStylePostContent;
  }
}
