:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray1: #7b7f84;
  --color-gray2: #c1c1c1;
  --color-gray3: #f8fafc;
  --color-indigo: #283170;
  --color-blue: #0071f0;
  --color-shadow: rgba(0, 0, 0, 0.25);

  --header-height: 68px;
}
