@import '../../../styles/mixins/text';

.buttonWrapper {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 12px;
}

.postDetailsContainer {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: 1px solid var(--color-gray2);
  border-radius: 8px;

  h1 {
    @include textStylePostDetailTitle;
    margin: 20px 0;
  }

  .dateContainer {
    display: flex;
    flex-direction: row-reverse;
    .dateWrapper {
      @include textStyleDate;
      display: flex;
      flex-direction: column;
      color: var(--color-gray1);
      margin-bottom: 12px;
      gap: 4px;
    }
  }
}
