@import '../../styles/mixins/text';

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  height: var(--header-height);
  background-color: var(--color-white);

  .headerTitle {
    @include textStyleLogoTitle;
  }
}
